
.displayCol {
    float: left;
    width: 33.33%;
    padding: 5px;
  
}

.displayRow {
    content: "";
    clear: both;
    display: table;
    margin: auto;
    text-align: center;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.picture {
    height: 230px;
    width: 180px;
}
.saleAlert {
    color: #FFFFFF;
    background-color: #5c5cd8;
    box-shadow: 0.37em 0 0 #5c5cd8, -0.37em 0 0 #5c5cd8;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 2.8px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.displayImg {
    min-width: 200px;
    max-width: 250px;
}

.itemLabel {
    font-weight: bold;
    margin-left: 40px;
}

.centerItems {
    text-align: center;
}

.itemDisplay {
    width: 100%;
}

.weather {
    min-width: 30%;
    max-width: 40%;
}

.video {
    height:200px;
}

