@model IEnumerable<WebStore.Models.PickUpPoint>
@{
	ViewBag.Title = "Checkout";
}
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			getUserName();
			getTotalOrderPrice();
		});

		function getUserName() {
			$.ajax({
				type: "POST",
				url: '/Order/GetUserName',
				success: function (res) {
					$("#userName").html('Hey, ' + res + '!');
				}
			});
		}

		function getTotalOrderPrice() {
			$.ajax({
				type: "POST",
				url: '/Order/GetTotalPrice',
				success: function (res) {
					$("#price").html('You\'re total order price is ' + res.toFixed(2) + '₪');
				}
			});
		}

		$('form').submit(function () {
			if (!$('#pickupPoint').val()) {
				alert('Choose a pickup point to continue');
				return false;
			}

			return true;
		});


	</script>
}
	<div style="text-align: center;">
			<h2>Checkout</h2>
			<h4 id="userName"></h4>
			<p id="price"></p>
			<p>Please choose the pickup point you want to pick to order from:</p>
			<section id="saveOrder">
				@using (Html.BeginForm("SaveOrder", "Order", FormMethod.Get))
				{
					<div class="row">
						<select name="pickupPoint" id="pickupPoint" class="selectpicker" data-style="btn-danger" 
								multiple data-max-options="3">
							@foreach (var point in Model)
							{
								<option value="@point.ID">@point.Name</option>
							}
						</select>
					</div>

					<div class="row">
						<input onsubmit="checkForm()" type="submit" style="width: 150px; margin-top:15px;" class="btn btn-primary" value="Submit the order" />
					</div>
				}
			</section>
	</div>

