@model WebStore.Models.Item
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#createBtn').on('click', function () {
                var type = $('#typeInput').val();
                var price = $('#priceInput').val();
                var color = $('#colorInput').val();
                var brand = $('#brandInput').val();
                var gender = $("input[name='gender']:checked").val();
                debugger;


            });
        });

    </script>
}



    <div class="createItemContainer">
        <div class="row">
            <div class="col-lg-12">
                <span class="createItemText">Create new Item</span>
            </div>
        </div>
        <div class=".row">
            <div class="col-md-12">
                <div class="itemTypeDiv">
                    Type
                    <select id="typcreateItemTexteInput">
                        <option value="Pants">Pants</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Shirt">Shirt</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="createItemInput" type="number" placeholder="Enter item's' price" id="priceInput" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="createItemInput" type="text" placeholder="Enter item's' color" id="colorInput" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="createItemInput" type="text" placeholder="Enter item's' brand" id="brandInput" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    Gender
                    <input type="radio" name="gender" value="male" /> Male
                    <input type="radio" name="gender" value="female" /> Female
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Image<input type="file" id="fileInput" class="createItemInput"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button id="createItemBtn" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>




