

<div class="homeContainer">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h2 class="saleAlert">
                SALE: LAST CHANSE
                UP TO 70% OFF
            </h2>
        </div>
    </div>
    <div class="=row">
        <div class="col-md-2">
            <img src="~/Images/ManShirt1.JPG" class="picture" />
                <span class="itemLabel">Men shirts</span>
        </div>
        <div class="col-md-2">
            <img src="~/Images/ManPants1.JPG" class="picture" />
            <span class="itemLabel">Men pants</span>
        </div>
        <div class="col-md-2">
            <img src="~/Images/ManShoes1.JPG" class="picture" />
            <span class="itemLabel">Men shoes</span>
        </div>
        <div class="col-md-2">
            <img src="~/Images/WomanShirt1.JPG" class="picture" />
            <span class="itemLabel">Women shirts</span>
        </div>
        <div class="col-md-2">
            <img src="~/Images/WomanPants1.JPG" class="picture" />
            <span class="itemLabel">Women shirts</span>
        </div>
        <div class="col-md-2">
            <img src="~/Images/WomanShoes1.JPG" class="picture" />
            <span class="itemLabel">Women shirts</span>
        </div>
    </div>
</div>

