
@{
	ViewBag.Title = "Info";
}


<div>
	<h2>A little bit about us...</h2>

	<div class="row">
		<video controls class="video">
			<source src="~/Videos/promo.mp4" type="video/mp4" />
			Your browser does not support HTML5 video.
		</video>
	</div>


	<div class="row">
		<div class="">
			<div class="fb-page" data-href="https://www.facebook.com/Webstore-287749472066314/" data-width="450" 
				 data-height="700px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Webstore-287749472066314/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Webstore-287749472066314/">‏‎Webstore‎‏</a></blockquote></div>

		</div>
	</div>

</div>
