
@{
	ViewBag.Title = "Info";
}

<script>
	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v3.1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<div style="text-align: center;">
	<h2>A little bit about us...</h2>
	<p>Everything you wanted to know about your fave fashion brand. And then some.</p>

	<div class="row">
		<video controls class="film">
			<source src="~/Videos/promo.mp4" type="video/mp4" />
			Your browser does not support HTML5 video.
		</video>
	</div>
	
	<img src="~/Images/hr.png"/>

	<div class="row">
		<p>Don't forget to like us on Facebool <i class="glyphicon glyphicon-thumbs-up"></i></p>		
		<div class="fb-page" data-href="https://www.facebook.com/Webstore-287749472066314/" data-width="450"
			 data-height="700px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
			 data-show-facepile="true"><blockquote cite="https://www.facebook.com/Webstore-287749472066314/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Webstore-287749472066314/">‏‎Webstore‎‏</a></blockquote></div>
	</div>
	<img src="~/Images/hr.png" style="padding: 7px;"/>
	<div>
		<p>Feel free to contact us</p>
		<p><i class="glyphicon glyphicon-envelope"></i> : onlineShoppingStore@gmail.com</p>
	</div>

</div>
